.header {
    height: 96px;
    display: flex;

    .containerAdaptiveLaptop {
        display: none;
    }

    .containerAdaptiveMobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: transparent;
            border: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 187px;

        .leftSection {
            width: 20.605vw;
            max-width: 230px;
        }

        .containerAdaptiveMobile {
            display: none;
        }

        .containerAdaptiveLaptop {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .centerSection {
                ul {
                    display: flex;
                    list-style-type: none;
                    background: $button-violet-dark;
                    border-radius: 99999px;
                }
            }
        }

    }
}

@media screen and (min-width: 1440px) {
    .header {
        .leftSection {
            max-width: 307px;
        }
    }
}