.header {
    display: flex;
    height: 96px;
    justify-content: space-between;
    align-items: center;
}

.leftSection {
    .logo {
        width: 21.891vw;
        height: 11.94vw;
        max-width: 184px;
        max-height: 101px;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 187px;

        .leftSection {
            width: 20.605vw;
            max-width: 230px;
        }

        .centerSection {
            ul {
                display: flex;
                list-style-type: none;
                background: $button-violet-dark;
                border-radius: 99999px;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 12.207vw;
                    height: 7.422vw;
                    max-width: 176px;
                    max-height: 80px;

                    a {
                        font-size: 20px;
                        font-family: $font-hikasami;
                        text-decoration: none;
                        color: $primary-white;
                    }

                    transition: .3s ease-in-out;

                    &:hover {
                        background: $button-violet-light;
                        border-radius: 999999px;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 1440px) {
    .header {
        .leftSection {
            max-width: 307px;
        }

        .centerSection {
            ul {
                li {
                    max-height: 91px;
                }
            }
        }

    }
}