$accent-gradient: linear-gradient(to right, rgba(129, 54, 235, 1), rgba(247, 111, 237, 1));
$primary-violet: rgba(40, 14, 74, 1);
$primary-white: rgba(242, 242, 242, 1);
$primary-black: rgba(0, 0, 0, 1);
$button-violet-dark: rgba(50, 23, 86, 1);
$button-violet-light: rgba(83, 55, 129, 1);
$font-liter: var(--font-liter);
$font-hikasami: var(--font-hikasami);