.generalStyleIllumination {
    width: 60%;
    height: 60%;
    position: absolute;
    pointer-events: none;
}

.componentIllumination {
    filter: blur(70px);
    -webkit-backdrop-filter: blur(10px);
}

.componentIllumination2 {
    filter: blur(70px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
    .componentIllumination {
        filter: blur(90px);
    }

    .componentIllumination2 {
        filter: blur(90px);
    }
}